<div class="container" style="margin-top:1%; margin-bottom:1%;padding:10px;">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>
