.myActive {
    color: black !important;
}

.classFooter {
    clear: both !important;
    position: relative !important;
    height: 200px !important;
    margin-top: -200px !important;
}


/* Style the buttons */


/* .a {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
} */


/* Style the active class (and buttons on mouse-over) */


/* .myActive,
.btn:hover {
    background-color: #666;
    color: #007bff !important;
} */