#color-app {
    color: white;
    background: rgba(89, 89, 89, 1);
    background: -moz-linear-gradient(left, rgba(89, 89, 89, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(71, 71, 71, 1) 32%, rgba(19, 19, 19, 1) 42%, rgba(0, 0, 0, 1) 51%, rgba(43, 43, 43, 1) 70%, rgba(76, 76, 76, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(89, 89, 89, 1)), color-stop(12%, rgba(89, 89, 89, 1)), color-stop(32%, rgba(71, 71, 71, 1)), color-stop(42%, rgba(19, 19, 19, 1)), color-stop(51%, rgba(0, 0, 0, 1)), color-stop(70%, rgba(43, 43, 43, 1)), color-stop(100%, rgba(76, 76, 76, 1)));
    background: -webkit-linear-gradient(left, rgba(89, 89, 89, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(71, 71, 71, 1) 32%, rgba(19, 19, 19, 1) 42%, rgba(0, 0, 0, 1) 51%, rgba(43, 43, 43, 1) 70%, rgba(76, 76, 76, 1) 100%);
    background: -o-linear-gradient(left, rgba(89, 89, 89, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(71, 71, 71, 1) 32%, rgba(19, 19, 19, 1) 42%, rgba(0, 0, 0, 1) 51%, rgba(43, 43, 43, 1) 70%, rgba(76, 76, 76, 1) 100%);
    background: -ms-linear-gradient(left, rgba(89, 89, 89, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(71, 71, 71, 1) 32%, rgba(19, 19, 19, 1) 42%, rgba(0, 0, 0, 1) 51%, rgba(43, 43, 43, 1) 70%, rgba(76, 76, 76, 1) 100%);
    background: linear-gradient(to right, rgba(89, 89, 89, 1) 0%, rgba(89, 89, 89, 1) 12%, rgba(71, 71, 71, 1) 32%, rgba(19, 19, 19, 1) 42%, rgba(0, 0, 0, 1) 51%, rgba(43, 43, 43, 1) 70%, rgba(76, 76, 76, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#4c4c4c', GradientType=1);
}

.white {
    color: white !important;
}

.black {
    color: black !important;
}


/* a:hover {
    background-color: black;
} */

.divClass {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
}


/* a:link {
    color: black !important;
    text-decoration: none !important;
}

.navigation a:active {
    background: black;
    border-radius: 5px;
    color: #fff;
}

a:visited {
    color: white !important;
    text-decoration: none !important;
}

a:hover {
    color: #000 !important;
    text-decoration: none !important;
} */

.color-black {
    color: black !important;
}


/* Style the buttons */

.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}


/* Style the active class (and buttons on mouse-over) */

.active {
    background-color: #666;
    color: black;
    border: 10px;
}

a {
    text-decoration: none !important;
}

.boton5 {
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #318aac;
    position: relative;
    border: 2px solid #318aac;
    outline: 1px solid;
    outline-color: rgba(49, 138, 172, 0.4);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.boton5:hover {
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
    border-shadow:
}