{% extends 'layout.html.twig' %}

{% block title %}Edit Product
{% endblock %}

{% block content %}
	<div class="container" style="margin-top:1%; margin-bottom:1%;padding:10px;">
		<h1>Edit Product</h1>

		{{ include('product/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('product_index') }}">back to list</a>

		{{ include('product/_delete_form.html.twig') }}
	</div>
{% endblock %}
