{% extends 'layout.html.twig' %}

{% block title %}New Product
{% endblock %}

{% block content %}
	<div class="container" style="margin-top:1%; margin-bottom:1%;padding:10px;">

		<h1>Create new Product</h1>

		{{ include('product/_form.html.twig') }}

		<a href="{{ path('product_index') }}">back to list</a>
	</div>
{% endblock %}
