{% extends 'layout.html.twig' %}

{% block title %}Edit ProductType
{% endblock %}

{% block content %}
	<div class="container" style="margin-top:1%; margin-bottom:1%;padding:10px;">

		<h1>Edit ProductType</h1>

		{{ include('product_type/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('product_type_index') }}">back to list</a>

		{{ include('product_type/_delete_form.html.twig') }}

	</div>
{% endblock %}
